<template>
  <div class>
    <header class="d-flex justify-content-between container">
      <div>
        <el-avatar
          src="https://images.unsplash.com/photo-1503443207922-dff7d543fd0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
        ></el-avatar>
      </div>
      <el-dropdown>
        <el-button type="primary" round class="color--bg">
          انتخاب دسته بندی
          <i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>دسته بندی 1</el-dropdown-item>
          <el-dropdown-item>دسته بندی دو</el-dropdown-item>
          <el-dropdown-item>دسته بندی سه</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </header>
    <main class="mt-4 container">
      <h5>
        <input class="myTitle" type="text" id="title" placeholder="عنوان مطلب" />
      </h5>
      <textarea
        class="myContent mt-1"
        id="content"
        cols="30"
        rows="5"
        placeholder="متن مورد نظر خود را تایپ کنید"
      ></textarea>
      <div class="d-flex flex-wrap justify-content-center">
        <div
          class="image-box nopadding"
          v-for="(image , index) in images"
          :key="image.id"
          :class="getClass(index)"
        >
          <button class="remove" @click="remove(index)">
            <i class="el-icon-circle-close"></i>
          </button>
          <img :src="image.src" :alt="image.alt" />
        </div>
      </div>
    </main>
    <footer>
      <div class="d-flex">
        <img src="~/assets/bell.png" alt="icon1" />
        <img class="active" src="~/assets/briefcase.png" alt="icon2" />
        <img src="~/assets/home.png" alt="icon3" />
      </div>
      <button class="btn btn-primary">انتشار</button>
    </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      images: [
        {
          id: 1,
          alt: "image_1",
          src:
            "https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg"
        },
        {
          id: 2,
          alt: "image_2",
          src:
            "https://www.eatright.org/-/media/eatrightimages/food/nutrition/nutritionfactsandfoodlabels/sodium-salt-1083487948.jpg"
        },
        {
          id: 3,
          alt: "image_3",
          src:
            "https://smppharmacy.com/wp-content/uploads/2019/02/food-post-1024x545.jpg"
        }
      ]
    };
  },
  methods: {
    remove(index) {
      this.images.splice(index, 1);
    },
    getClass(index) {
      if (this.images.length == 1) {
        return "col-12";
      } else if (this.images.length % 2 == 0) {
        return "col-6";
      } else {
        if (index == 2) {
          return "col-12";
        } else {
          return "col-6";
        }
      }
    }
  }
};
</script>

<style>
html,
body {
  height: 100%;
  margin: 0;
}
footer {
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  position: relative;
  width: 100%;
  padding: 10px;
}
.active {
  opacity: 1 !important;
}
footer img {
  opacity: 0.4;
  width: 30px;
  height: 30px;
  margin: 10px;
}
.remove {
  background: none;
  border: none;
  position: absolute;
  color: #fff;
  outline: none;
}
.nopadding {
  padding: 0 !important;
}
.image-box {
  height: 200px;
  background-color: #f5f5f5;
  border: 1px solid #fff;
}
.image-box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.myTitle {
  border: none;
  outline-color: blue;
  width: 100%;
  padding: 10px;
}
.myContent {
  border: none;
  outline-color: blue;
  width: 100%;
  padding: 10px;
  height: ;
}
header {
  width: 100% !important;
  height: 50px;
  padding: 15px 0;
}

.mySelect {
  border-radius: 5px;
  background-color: #f5f5f5;
}

.mySelect > select {
  width: 90%;
}
.color--bg {
  background-color: #f5f5f5 !important;
  border: none;
  color: #000;
}
.color--bg:focus {
  background-color: #f5f5f5 !important;
  border: none;
  color: #000;
}
.color--bg span i {
  color: blue;
  right: 0;
  margin-right: 10px;
}
</style>
